<body>
<div class="login-wrapper">
  <form action="" class="form">
    <img src="https://lh3.googleusercontent.com/proxy/JkRUqaE8XHOihcf6JYrx7pAHPwAf15YPncg4xzeNpLbW22PfnFtlv0WK42sdwGB9NIIb4X4ev4q9xBhuwCGUH_MLJ4H7pVIAL9cY_d7aI_2-nwgu2E-DuXU9QOBZzKKQPgk0xejW17CJgcl9Tra4EA" alt="">
    <h2> GİRİŞ YAP</h2>
    <div class="input-group">
      <input type="text" name="loginUser" id="loginUser" required>
      <label for="loginUser">User Name</label>
    </div>
    <div class="input-group">
      <input type="password" name="loginPassword" id="loginPassword" required>
      <label for="loginPassword">Password</label>
    </div>
    <input type="submit" value="Login" class="submit-btn">
    <a href="#forgot-pw" class="forgot-pw">Forgot Password?</a>
  </form>

  <div id="forgot-pw">
    <form action="" class="form">
      <a href="#" class="close">&times;</a>
      <h2>Reset Password</h2>
      <div class="input-group">
        <input type="email" name="email" id="email" required>
        <label for="email">Email</label>
      </div>
      <input type="submit" value="Submit" class="submit-btn">
    </form>
  </div>
</div>
</body>