// #map {
//     width: auto;
//     height: 100%;
//     margin-top: -640px;
// }


#base {
    position: fixed;
    bottom: 15px;
    right:15px;
    border-radius: 30px;
    padding:10px;
    text-align: center;
    z-index: 2;
    border-bottom: 1px solid #aaa;
    background-color: #3b7a82;
}
  
    .map {
      width: 100%;
      height: calc(100vh - 45px);   
      margin-top: -635px;
    }
  




  // Button Parts



 .button {
     background-color:#3b7a82;
     border: none;
    color:white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid #fff;
    transition: 0.6s ease;

         :hover {
            background-color: #fff;
            color:#000;
         }
    

    }

    