
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
   .container {
     height: 696px;
     width: 100%;
   }
    

.header {
    
    height: 0.2%;
  }
  
  
  .main {
    background-color:#ffff;
    height: 98%;   
    margin:1px; 
    
  }


  
//   .footer {
//     clear : both;
//     background-color: #0ff;
//     height: 60px;
//   }


